<div [hidden]="user">
  <legend>Login</legend>
  <form #loginForm="ngForm">
    <div>
      <label for="Username">Username</label>
      <input
        id="Username"
        name="username"
        type="text"
        [(ngModel)]="userName"
        #name="ngModel"
        required
      />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div>
      <label for="Password">Password</label>
      <input
        id="Password"
        name="password"
        type="text"
        [(ngModel)]="password"
        required
      />
    </div>
    <button
      type="button"
      class="btn btn-default"
      (click)="login(); loginForm.reset()"
      [disabled]="!loginForm.form.valid"
    >
      Enter
    </button>
  </form>
</div>
<div [hidden]="!submitted">Logging In</div>
<div>
  <p>Don't have a profile?</p>
  <!-- <a routerLink="/register" routerLinkActive="active" aria-current="page"> -->
  <button [routerLink]="'/register'">Register</button>
  <!-- </a> -->
</div>
