<main class="main">
  <nav>
    <ul>
      <li>
        <ng-container *ngIf="user; else loginTemplate">
          <a
            routerLink="/profile"
            routerLinkActive="active"
            aria-current="page"
          >
            {{ user.username }}</a
          >
        </ng-container>
        <ng-template #loginTemplate>
          <a routerLink="/login" routerLinkActive="active" aria-current="page">
            Login</a
          >
        </ng-template>
      </li>
      <li>
        <ng-container *ngIf="user; else splashTemplate">
          <a routerLink="/home" routerLinkActive="active" aria-current="page"
            >Home</a
          >
        </ng-container>
        <ng-template #splashTemplate>
          <a routerLink="/" routerLinkActive="active" aria-current="page"
            >Home</a
          >
        </ng-template>
      </li>
    </ul>
  </nav>
  <div class="content">
    <p>Congratulations! Your app is running. 🎉</p>
  </div>

  <router-outlet></router-outlet>
</main>
