<form #titleSearchForm="ngForm">
  <h2>Add Book</h2>
  <label>Add to Collection</label>
  <select>
    @for (shelf of shelves; track shelf._id) {
    <option value="{{ shelf.shelf_name }}">{{ shelf.shelf_name }}</option>
    }
  </select>
  <label>Book Title</label>
  <input
    type="text"
    [(ngModel)]="titleInput"
    name="titleInput"
    #name="ngModel"
  />
  <button
    type="button"
    (click)="searchByTitle(titleInput)"
    [disabled]="!titleSearchForm.form.valid"
  >
    Find
  </button>
  @if (booksFound){ @for (book of booksFound; track book.title){
  <li>{{ book.title }}, {{ book.author_name }}</li>
  } }
</form>
