<div>
  <h1>Welcome {{ user?.username }}</h1>
</div>
<add-shelf-component [shelves]="books?.shelvedBooks"></add-shelf-component>
<add-book-component [shelves]="books?.shelvedBooks"></add-book-component>
@if (clickedBook) {
<book-details-component
  (closeDetails)="clearClickedBook()"
  [bookDetails]="clickedBook"
></book-details-component>
}

<h2>Your Books</h2>
<menu>
  <label>Shelves</label>
  <ul>
    <li>
      <select #shelves (change)="onShelfSelected(shelves.value)">
        <option default value="All">All</option>
        @for (shelf of books?.shelvedBooks; track shelf._id){
        <option value="{{ shelf.shelf_name }}">{{ shelf.shelf_name }}</option>
        }
      </select>
    </li>
  </ul></menu
>
<div>
  <ul>
    @for (shelf of displayFilteredBooks(); track shelf._id) { @for (book of
    shelf.books; track book._id){

    <li (click)="selectBook(book)">
      <p>
        {{ book.book_id.title }}
      </p>
      <p>{{ book.book_id.author }}</p>
      <img
        src="https://covers.openlibrary.org/b/lccn/{{
          book.book_id.lccn
        }}-L.jpg"
      />
    </li>
    } }
  </ul>
</div>
@if (!books){
<div>
  <p>Loading...</p>
</div>
}
