<div>
  <h2>Welcome {{ user?.username }}</h2>
</div>

<menu>
  <label>Add Book</label>
  <add-book-component></add-book-component>
  <label>Shelves</label>
  <ul>
    <li>
      <select #shelves (change)="onShelfSelected(shelves.value)">
        <option default value="All">All</option>
        @for (shelf of books?.shelvedBooks; track shelf._id){
        <option value="{{ shelf.shelf_name }}">{{ shelf.shelf_name }}</option>
        }
      </select>
    </li>
  </ul></menu
>
<div>
  <ul>
    @for (shelf of displayFilteredBooks(); track shelf._id) { @for (book of
    shelf.books; track book._id){

    <li>{{ book.book_id.title }}</li>
    <img src="{{ book.book_id.cover }}" />
    } }
  </ul>
</div>
@if (!books){
<div>
  <p>Loading...</p>
</div>
}
