@if (clickedBookDetails) {
<div class="modal-overlay">
  <div class="details-box">
    <img
      src="https://covers.openlibrary.org/b/lccn/{{
        clickedBookDetails.book_id.lccn
      }}-L.jpg"
    />
    <form class="bookDetailsForm" #bookDetailsForm="ngForm">
      <p>Author: {{ clickedBookDetails.book_id.author }}</p>
      <p>Title: {{ clickedBookDetails.book_id.title }}</p>
      <p>Published: {{ clickedBookDetails.book_id.published }}</p>
      <p>Added: {{ clickedBookDetails.book_id.created_at }}</p>
      <p>Genres: {{ clickedBookDetails.book_id.genres }}</p>
      <p>{{ clickedBookDetails.reviews }}</p>
      <label for="Tags">Tags:</label>
      <div>
        <input
          id="Tags"
          name="tags"
          type="text"
          [(ngModel)]="bookTags"
          [disabled]="!editing"
          #tags="ngModel"
        />
      </div>
      <label for="Reviews">Review:</label>
      <div>
        <textarea
          class="reviewsInput"
          id="Reviews"
          name="reviews"
          type="text"
          [(ngModel)]="reViews"
          [disabled]="!editing"
          #reviews="ngModel"
        ></textarea>
      </div>
      <button [hidden]="editing" (click)="startEditing()">Edit</button>
      <div>
        <button [hidden]="!editing" (click)="updateDetails()">Update</button>
      </div>
      <p [hidden]="!updateSuccessful">Update Successfully</p>
      <div class="close-button">
        <button (click)="closePopUp()">Close</button>
      </div>
    </form>
  </div>
</div>
}
